* {
  box-sizing: border-box;
}

body {
  background-color: rgb(37, 37, 37);
  margin: 0;
  padding-top: 50px;
}

h1 {
  color: white;
  font-family: system-ui, -apple-system;
  margin: 20px 0 0 0;
  text-align: center;
}


.topnavigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid mediumspringgreen;
  border-radius: 0 0 10px 10px;
  font-family: system-ui, -apple-system;
  padding: 0 10px;
}

.titlenavigation {
  margin: 0;
  color: black;
  line-height: 50px;
}