body {
  background-color: gray;
}

.topcentre {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  position: absolute;
}
