* {
  box-sizing: border-box;
}

body {
  background-color: rgb(37, 37, 37);
  margin: 0;
}

.topnavigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid mediumspringgreen;
  border-radius: 0 0 10px 10px;
  font-family: system-ui, -apple-system;
}

.titlenavigation {
  margin-left: 10px;
  color: black;
}
