body {
  background-color: rgb(37, 37, 37);
}

h1 {
  color: white;
  font-family: system-ui, -apple-system;
}

.topcentre {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
