body {
  background-color: rgb(37, 37, 37);
}

h1 {
  color: white;
  font-family: system-ui, -apple-system;
}

.topcentre {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.topnavigation {
  position: absolute;
  top: 0;
  align-items: center;
  background-color: white;
  border-radius: 0 0 10px 10px;
  border-color: mediumspringgreen;
  border-style: solid;
  border-width: 2px;
  height: max-content;
  width: 150px;
}

.titlenavigation {
  margin-left: 10px;
  margin-top: 10px;
  color: black
}